/* CounterUp Section Start */
#counterUp {
  background: #95e1d3;
  padding: 80px 0;
  margin: 100px 0;
}
.counterUp-inner h3 {
  color: #ffffff;
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 600;
}

.counterUp-inner p {
  font-size: 14px;
  color: #e4f7f4;
  font-weight: 500;
  text-transform: uppercase;
}
/* CounterUp Section End */
