/* Team Section Start */
.team {
  margin: 60px 0;
}

.team-text {
  text-align: center;
  color: #333333;
}

.team-text h4 {
  font-size: 24px;
  font-family: "Caveat";
}

.team-text h3 {
  margin: 20px 0;
  font-size: 30px;
  position: relative;
}

.team-text h3::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 5%;
  background-color: #f38181;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-text p {
  font-size: 16px;
  margin: 90px 0;
  padding: 0 10%;
  line-height: 25px;
}

.team-main {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}

.team-section {
  width: 33.33%;
}

.team-card {
  width: 100%;
}

.card-img {
  width: 100%;
  position: relative;
}

.card-img::after {
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  left: 0%;
  top: 0%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    rgba(241, 143, 138, 0.842),
    rgba(228, 202, 129, 0.678)
  );
  transition: 0.6s;
  opacity: 0;
  transform: scale(0);
}

.card-img:hover::after {
  height: 100%;
  transform: scale(1);
  opacity: 1;
}

.team-card-icon {
  position: absolute;
  left: 33%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1;
  transform: scale(0);
  transition: 0.7s;
}

.card-img:hover .team-card-icon {
  opacity: 1;
  transform: scale(1);
}

.team-card-icon a {
  padding: 10px;
  color: #f38181;
  gap: 0;
  margin: 0 2px;
  background-color: #fce38a;
  transition: 0.5s;
}

.team-card-icon a:hover {
  color: #ffffff;
  background-color: #f38181;
}

.card-img img {
  width: 108.4%;
}

.card-desc {
  text-align: center;
  color: #333333;
}

.card-desc h3 {
  margin: 22px 0 2px 0;
}

.card-desc p {
  font-size: 14px;
}
/* Team Section End */
